
.top-nav {
  &:after {
    content: '';
    position: absolute;
    height: 100%;

    left: 0;
    right: 0;

    box-shadow: 0 0 5px 0 rgba(0,0,0,.2);
  }
}

.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  margin: 10px 20px;
}

.header-title {
  margin-left: 10px;
  font-size: 1.5em;
}
